<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="/Content/jqwidgets-ver3.8.1/jqwidgets/styles/jqx.base.css" rel="stylesheet"
        type="text/css" />
    <link href="/Content/jqwidgets-ver3.8.1/jqwidgetsExtensions/jqxext.css" rel="stylesheet"
        type="text/css" />
    <script src="/Content/jqwidgets-ver3.8.1/scripts/jquery-1.10.2.min.js"
        type="text/javascript"></script>
    <script src="/Content/jqwidgets-ver3.8.1/jqwidgets/jqx-all.js" type="text/javascript"></script>
    <script src="/Content/jqwidgets-ver3.8.1/jqwidgetsExtensions/jqxext.js" type="text/javascript"></script>
    <script src="/Content/jqwidgets-ver3.8.1/scripts/ejq.js" type="text/javascript"></script>
    <script src="/Content/jqwidgets-ver3.8.1/scripts/jquery-form.min.js"
        type="text/javascript"></script>
    @RenderSection("head", false)
</head>
<body>
    @RenderBody()
</body>
</html>
