@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using JQWidgetsSugar
@section head{
    <script src="/Content/My97DatePickerBeta/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
    <link href="/Content/My97DatePickerBeta/My97DatePicker/skin/WdatePicker.css" rel="stylesheet"
        type="text/css" />
    <script src="/Content/jquery-validation-1.13.1/dist/jquery.validate.min.js" type="text/javascript"></script>
    <link href="/Content/jquery-validation-1.13.1/validation.sugar.css" rel="stylesheet"
        type="text/css" />
    <script src="/Content/jquery-validation-1.13.1/validation.sugar.js" type="text/javascript"></script>
    <script type="text/javascript">

        //添加
        function add(row) {
            //弹出框
            jqxWindow("#editbox", "添加", 400, "auto");

            //美化 button
            $("#editbox button").jqxButton();


            //取消事件
            $('#cancel').unbind();
            $('#cancel').on('click', function (e) {
                $("#editbox").jqxWindow("close")
            });

            //清空表单
            $("#frmtable").formClear();

            $('#save').unbind();
            //确定事件
            $('#save').on('click', function (e) {
                factory.ajaxSubmit(function () {
                    $("#frmtable").ajaxSubmit({
                        url: "/grid/add",
                        type: "post",
                        success: function (msg) {
                            if (msg.isSuccess == false) {
                                jqxAlert(msg.respnseInfo);
                            }
                            $("#netgrid").jqxDataTable('updateBoundData');
                            $("#editbox").jqxWindow("close")
                        }, error: function (msg) {
                            console.log(msg);
                        }
                    })
                });
            });
        }

        //编辑
        function edit(row) {
            if (row == null) {
                jqxAlert('请选择一条记录！')
            } else {
                //弹出框
                jqxWindow("#editbox", "编辑", 400, "auto");

                //美化 button
                $("#editbox button").jqxButton();

                //取消事件
                $('#cancel').unbind();
                $('#cancel').on('click', function (e) {
                    $("#editbox").jqxWindow("close")
                });

                //格日化日期
                row.date = $.convert.toDate(row.date, "yyyy-MM-dd")
                //通过JSON自动填充表单，也可以自已实现
                $("#frmtable").formFill({ data: row })

                //确定事件
                $('#save').unbind();
                $('#save').on('click', function (e) {
                    factory.ajaxSubmit(function () {
                        $("#frmtable").ajaxSubmit({
                            url: "/grid/edit",
                            type: "put",
                            success: function (msg) {
                                if (msg.isSuccess == false) {
                                    jqxAlert(msg.respnseInfo);
                                }
                                $("#netgrid").jqxDataTable('updateBoundData');
                                $("#editbox").jqxWindow("close")
                            }, error: function (msg) {
                                console.log(msg);
                            }
                        })
                    });
                });
            }
        }

        //删除
        function del(row) {
            if (row == null) {
                jqxAlert('请选择一条记录！')
            } else {
                jqxConfirm(function () {
                    $.ajax({
                        type: "delete",
                        url: "/Grid/Del",
                        data: { id: row.id },
                        dataType: "json",
                        success: function (msg) {
                            if (msg.isSuccess == false) {
                                jqxAlert(msg.respnseInfo);
                            }
                            $("#netgrid").jqxDataTable('updateBoundData');
                        }, error: function (msg) {
                            console.log(msg);
                        }
                    })
                }, "您确定要删除吗？")

            }
        }

        //绑定验证
        $(function () {
            window.factory = new validateFactory($("form"), "<img src=\"/Content/jquery-validation-1.13.1/error.png\" />");
            factory.init();

        });
    </script>
    @Html.Raw(Model)
}
<div id="netgrid">
</div>
<div id="editbox" class="hide">
    <div class="savetable">
        <form id="frmtable" class="form">
        <table style="table-layout: fixed; border-style: none;">
            <tr>
                <td align="right">
                    名称:
                </td>
                <td align="left">
                    <input id="id" name="id" type="hidden" value="0" />
                    <input id="name" name="name" type="text" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    产品名:
                </td>
                <td align="left">
                    <input id="productname" name="productname" type="text" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    数量:
                </td>
                <td align="left">
                    <input id="quantity" name="quantity" type="text" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    时间:
                </td>
                <td align="left">
                    <input id="date" class="Wdate" onclick="WdatePicker()" name="date" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <br />
                    <button id="save" type="button">
                        保存</button>
                    <button style="margin-left: 5px;" type="button" id="cancel">
                        取消</button>
                </td>
            </tr>
        </table>
        </form>
    </div>
</div>
@Html.Raw(ViewBag.validationBind)
