@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using JQWidgetsSugar
@section head{
    <script src="/Content/My97DatePickerBeta/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
    <link href="/Content/My97DatePickerBeta/My97DatePicker/skin/WdatePicker.css" rel="stylesheet"
        type="text/css" />
    <script src="/Content/jquery-validation-1.13.1/dist/jquery.validate.min.js" type="text/javascript"></script>
    <link href="/Content/jquery-validation-1.13.1/validation.sugar.css" rel="stylesheet"
        type="text/css" />
    <script src="/Content/jquery-validation-1.13.1/validation.sugar.js" type="text/javascript"></script>
    <script type="text/javascript">
        function callback1() {

        }
        function namefun() {
            return "<a style='' onclick='alert(1)'>ok</a>";
        }

        //添加
        function add(row) {
            save(row, true);
        }

        //编辑
        function edit(row) {
            save(row, false);
        }

        //删除
        function del(row) {
            var grid = $("#netgrid");
            selection = [];
            grid.find(".jqx_datatable_checkbox:checked").each(function () {
                var th = $(this);
                if (th.is(":checked")) {
                    var index = th.attr("index");
                    var data = grid.jqxDataTable('getRows')[index];
                    selection.push(data.id);
                }
            })
            if (selection.length == 0) {
                jqxAlert('请选择一条记录！')
                return;
            }
            jqxDelete({ gridSelector: "#netgrid",
                url: "/Grid/Del2",
                data: { ids: selection }
            });
        }

        function save(row, isAdd) {
            var isEdit = !isAdd;
            if (isEdit) {
                if (row == null) {
                    jqxAlert('请选择一条记录！')
                    return;
                }
            }
            //弹出框
            jqxWindow("#editbox", isAdd ? "添加" : "编辑", 400, "auto");

            //美化 button
            $("#editbox button").jqxButton();

            //取消事件
            $('#cancel').unbind();
            $('#cancel').on('click', function (e) {
                $("#editbox").jqxWindow("close")
            });

            if (isAdd) {
                //清空表单
                $("#frmtable").formClear();
            } else {
                //格日化日期
                row.date = $.convert.toDate(row.date, "yyyy-MM-dd")
                //通过JSON自动填充表单，也可以自已实现
                $("#frmtable").formFill({ data: row })
            }
            //确定事件
            $('#save').unbind();
            $('#save').on('click', function (e) {
                factory.ajaxSubmit(function () {
                    var url = isAdd ? "/grid/add" : "/grid/edit";
                    var type = isAdd ? "post" : "put";
                    $("#frmtable").ajaxSubmit({
                        url: url,
                        type: type,
                        success: function (msg) {
                            if (msg.isSuccess == false) {
                                jqxAlert(msg.respnseInfo);
                            }
                            $("#netgrid").jqxDataTable('updateBoundData');
                            $("#editbox").jqxWindow("close")
                        }, error: function (msg) {
                            console.log(msg);
                        }
                    })
                });
            });

        }



        //绑定验证
        $(function () {
            window.factory = new validateFactory($("form"), "<img src=\"/Content/jquery-validation-1.13.1/error.png\" />");
            factory.init();
            $("#netgrid").jqxDataTable('selectRow', 2);
            setTimeout(function () {
                $("#netgrid").jqxDataTable('unselectRow', 0);
        
            }, 2000)
        })

        function initRowDetails(id, row, element, rowinfo) {
            element.append($("<div style='margin: 10px;'>aa</div>"));
        }

        function a(data) {
            data.b = $("#adsf").val()
            return a;
        }
        $(function () {
            
        })
    </script>
 <script>
     $(function () {
         var source =
{ "datafields": [{ "name": "checkbox", "type": null }, { "name": "id", "type": "int" }, { "name": "name", "type": "string" }, { "name": "productname", "type": "string" }, { "name": "quantity", "type": "int" }, { "name": "date", "type": "date"}], "datatype": "json", "updateRow": function (rowId, rowData, commit) { }, "url": "http://localhost:888/Grid/Data" }
         var dataAdapter = new $.jqx.dataAdapter(source, {
             downloadComplete: function (data) {
                 source.totalrecords = data.TotalRows;
             },
             formatData: function (data) { a(data); return data; }
         });
         $("#netgrid").jqxDataTable({ "width": "80%", "height": "500px", "source": dataAdapter, "theme": "arctic", "pageSize": 20, "sortable": true, "editable": false, "filterable": true, "rowDetails": false, "filterMode": "advanced", "selectionMode": "multipleRows", "pageable": true, "pagerButtonsCount": 10, "showToolbar": true, "columnsResize": true, "altRows": false, "toolbarHeight": 35, "localization": jqxLocalization, "enableBrowserSelection": false, "serverProcessing": true, "rendered": null, "ready": null, initRowDetails: initRowDetails, "renderToolbar":
         function (toolBar) {

             var theme = "Arctic";
             var toTheme = function (className) {
                 if (theme == "") return className;
                 return className + " " + className + "-" + theme;
             }
             // appends buttons to the status bar.
             var container = $("<div style='overflow: hidden; position: relative; height: 100%; width: 100%;'></div>");
             var buttonTemplate = "<div style='float: left; padding: 3px; margin: 2px;'><div style='margin: 4px; width: 16px; height: 16px;'></div></div>";
             var addbutton = $(buttonTemplate);
             var editbutton = $(buttonTemplate);
             var delbutton = $(buttonTemplate);
             container.append(addbutton);
             container.append(editbutton);
             container.append(delbutton);

             toolBar.append(container)

             addbutton.jqxButton({ cursor: "pointer", enableDefault: false, height: 25, width: 25 });
             addbutton.find('div:first').addClass(toTheme('jqx-icon-plus'));
             addbutton.jqxTooltip({ position: 'bottom', content: "添加" });

             editbutton.jqxButton({ cursor: "pointer", enableDefault: false, height: 25, width: 25 });
             editbutton.find('div:first').addClass(toTheme('jqx-icon-edit'));
             editbutton.jqxTooltip({ position: 'bottom', content: "编辑" });

             delbutton.jqxButton({ cursor: "pointer", enableDefault: false, height: 25, width: 25 });
             delbutton.find('div:first').addClass(toTheme('jqx-icon-delete'));
             delbutton.jqxTooltip({ position: 'bottom', content: "删除" });


             var row = null;
             $("#netgrid").on('rowSelect', function (event) {
                 row = event.args.row;
             });

             $("#netgrid").on('rowUnselect', function (event) {
                 row = null;
             });

             addbutton.click(function (event) {
                 add(row);
             });
             editbutton.click(function (event) {
                 edit(row);
             });
             delbutton.click(function (event) {
                 del(row);
             });
         }, "columns": [{ "width": "25px", "hidden": false, "pinned": false, "sortable": false, "filterable": false, "columntype": null, "text": "", "datafield": "checkbox", "filtertype": null, "align": null, "cellsalign": null, "cellsformat": null, "datatype": null, "columngroup": null, "cellsRenderer": cellsRendererFunc, "renderer": rendererFunc, "rendered": renderedFunc, "autoRowHeight": false, "createEditor": null, "initEditor": null, "getEditorValue": null, "className": null }, { "width": "40px", "hidden": true, "pinned": false, "sortable": true, "filterable": true, "columntype": null, "text": "编号", "datafield": "id", "filtertype": null, "align": null, "cellsalign": "left", "cellsformat": null, "datatype": "int", "columngroup": null, "cellsRenderer": null, "renderer": null, "rendered": null, "autoRowHeight": false, "createEditor": null, "initEditor": null, "getEditorValue": null, "className": null }, { "width": "200", "hidden": false, "pinned": false, "sortable": true, "filterable": true, "columntype": null, "text": "名称", "datafield": "name", "filtertype": null, "align": null, "cellsalign": "left", "cellsformat": null, "datatype": "string", "columngroup": null, "cellsRenderer": namefun, "renderer": null, "rendered": null, "autoRowHeight": false, "createEditor": null, "initEditor": null, "getEditorValue": null, "className": "minwidth" }, { "width": "500px", "hidden": false, "pinned": false, "sortable": true, "filterable": true, "columntype": null, "text": "产品名", "datafield": "productname", "filtertype": null, "align": null, "cellsalign": "left", "cellsformat": null, "datatype": "string", "columngroup": null, "cellsRenderer": null, "renderer": null, "rendered": null, "autoRowHeight": false, "createEditor": null, "initEditor": null, "getEditorValue": null, "className": null }, { "width": "auto", "hidden": false, "pinned": false, "sortable": true, "filterable": true, "columntype": null, "text": "数量", "datafield": "quantity", "filtertype": null, "align": null, "cellsalign": "right", "cellsformat": null, "datatype": "int", "columngroup": null, "cellsRenderer": null, "renderer": null, "rendered": null, "autoRowHeight": false, "createEditor": null, "initEditor": null, "getEditorValue": null, "className": null }, { "width": "auto", "hidden": false, "pinned": false, "sortable": true, "filterable": true, "columntype": null, "text": "创建时间", "datafield": "date", "filtertype": null, "align": null, "cellsalign": "right", "cellsformat": "yyyy-MM-dd", "datatype": "date", "columngroup": null, "cellsRenderer": null, "renderer": null, "rendered": null, "autoRowHeight": false, "createEditor": null, "initEditor": null, "getEditorValue": null, "className": null}], "columnGroups": null
         });
         function cellsRendererFunc(row, column, value, rowData) {
             return "<input class=\"jqx_datatable_checkbox\" index=\"" + row + "\" type=\"checkbox\"  style=\"margin:auto\" />";
         }

         function rendererFunc() {
             var checkBox = "<div id='jqx_datatable_checkbox_all' class='jqx_datatable_checkbox_all' style='z-index: 999; margin-left:2px ;margin-top: 7px;'>";
             checkBox += "</div>";
             return checkBox;
         }
         function renderedFunc(element) {
             var grid = $("#netgrid");
             element.jqxCheckBox();
             element.on('click', function (event) {
                 var checked = element.jqxCheckBox('checked');

                 if (checked) {
                     var rows = grid.jqxDataTable('getRows');
                     for (var i = 0; i < rows.length; i++) {
                         grid.jqxDataTable('selectRow', i);
                         grid.find(".jqx_datatable_checkbox").attr("checked", "checked")
                     }
                 } else {
                     grid.jqxDataTable('clearSelection');
                     grid.find(".jqx_datatable_checkbox").removeAttr("checked", "checked")
                 }
             });
             return true;
         }
         ;

         $("#netgrid").on("click", "input:checkbox", function () {
             var th = $(this);
             var isChecked = th.prop("checked");
             if (!isChecked) {
                 $("#netgrid").find("#jqx_datatable_checkbox_all").jqxCheckBox("uncheck");
             }
         })
     })
     setTimeout(function () {
         $(window).resize();
     },2000)
 </script>
 
}
<input id="adsf" value="adsf" style=" margin-bottom:1000px; position:absolute;" />
<br />
<div id="netgrid">
</div>
<div id="editbox" class="hide">
    <div class="savetable">
        <form id="frmtable" class="form">
        <table style="table-layout: fixed; border-style: none;">
            <tr>
                <td align="right">
                    名称:
                </td>
                <td align="left">
                    <input id="id" name="id" type="hidden" value="0" />
                    <input id="name" name="name" type="text" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    产品名:
                </td>
                <td align="left">
                    <input id="productname" name="productname" type="text" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    数量:
                </td>
                <td align="left">
                    <input id="quantity" name="quantity" type="text" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    时间:
                </td>
                <td align="left">
                    <input id="date" class="Wdate" onclick="WdatePicker()" name="date" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <br />
                    <button id="save" type="button">
                        保存</button>
                    <button style="margin-left: 5px;" type="button" id="cancel">
                        取消</button>
                </td>
            </tr>
        </table>
        </form>
    </div>
</div>
@Html.Raw(ViewBag.validationBind)
