@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using JQWidgetsSugar
@{
    var adp = new GridDataAdapterSource();
    adp.url = "/Grid/Data";
    var gt = new GridTable();
    gt.pageSize = 5;
    gt.columns = new List<GridColumn>(){
      new GridColumn(){ text="id", datafield="id",datatype=Datatype.dataint },
      new GridColumn(){ text="date", datafield="date", cellsformat="d",cellsalign="right", datatype=Datatype.datadate
      }
    };
    var grid = JQXGrid.BindGrid("#netgrid", adp, gt);
}
@section head{
    <script type="text/javascript">
            @Html.Raw(grid)
    </script>
}
<div id="jqxgrid">
</div>
<div id="netgrid">
</div>
