@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link href="/Content/jqwidgets-ver3.8.1/jqwidgets/styles/jqx.base.css" rel="stylesheet"
        type="text/css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="/Content/jqwidgets-ver3.8.1/jqwidgets/jqx-all.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {

             var source =
            {
                url: "/Grid/Data",
                datafields:
                [
                    { name: 'id', type: 'number' },
                    { name: 'name', type: 'string' },
                    { name: 'productname', type: 'string' },
                    { name: 'available', type: 'bool' },
                    { name: 'date', type: 'date' },
                    { name: 'quantity', type: 'number' }
                ],
                datatype: "json"
            };

            var dataAdapter = new $.jqx.dataAdapter(source, {
                downloadComplete: function (data) {
                    source.totalrecords = data.TotalRows;
                }
            });
            $("#netgrid").jqxDataTable({
                "width": "100%",
                "source": dataAdapter,
                "theme": "arctic",
                "pageSize": 20,
                "sortable": true,
                "editable": true,
                "filterable": true,
                "pageable": true,
                "pagerButtonsCount": 10,
                "showToolbar": true,
                "toolbarHeight": 35,

                "serverProcessing": true, "renderToolbar":
         function (toolBar) {

             var theme = "Arctic";
             var toTheme = function (className) {
                 if (theme == "") return className;
                 return className + " " + className + "-" + theme;
             }
             // appends buttons to the status bar.
             var container = $("<div style='overflow: hidden; position: relative; height: 100%; width: 100%;'></div>");
             var buttonTemplate = "<div style='float: left; padding: 3px; margin: 2px;'><div style='margin: 4px; width: 16px; height: 16px;'></div></div>";
             var addButton = $(buttonTemplate);
             var editButton = $(buttonTemplate);
             var deleteButton = $(buttonTemplate);
             var cancelButton = $(buttonTemplate);
             var updateButton = $(buttonTemplate);
             container.append(addButton);
             container.append(editButton);
             container.append(deleteButton);
             container.append(cancelButton);
             container.append(updateButton);
             toolBar.append(container);
             addButton.jqxButton({ cursor: "pointer", enableDefault: false, height: 25, width: 25 });
             addButton.find('div:first').addClass(toTheme('jqx-icon-plus'));
             addButton.jqxTooltip({ position: 'bottom', content: "Add" });
             editButton.jqxButton({ cursor: "pointer", disabled: true, enableDefault: false, height: 25, width: 25 });
             editButton.find('div:first').addClass(toTheme('jqx-icon-edit'));
             editButton.jqxTooltip({ position: 'bottom', content: "Edit" });
             deleteButton.jqxButton({ cursor: "pointer", disabled: true, enableDefault: false, height: 25, width: 25 });
             deleteButton.find('div:first').addClass(toTheme('jqx-icon-delete'));
             deleteButton.jqxTooltip({ position: 'bottom', content: "Delete" });
             updateButton.jqxButton({ cursor: "pointer", disabled: true, enableDefault: false, height: 25, width: 25 });
             updateButton.find('div:first').addClass(toTheme('jqx-icon-save'));
             updateButton.jqxTooltip({ position: 'bottom', content: "Save Changes" });
             cancelButton.jqxButton({ cursor: "pointer", disabled: true, enableDefault: false, height: 25, width: 25 });
             cancelButton.find('div:first').addClass(toTheme('jqx-icon-cancel'));
             cancelButton.jqxTooltip({ position: 'bottom', content: "Cancel" });
             var updateButtons = function (action) {
                 switch (action) {
                     case "Select":
                         addButton.jqxButton({ disabled: false });
                         deleteButton.jqxButton({ disabled: false });
                         editButton.jqxButton({ disabled: false });
                         cancelButton.jqxButton({ disabled: true });
                         updateButton.jqxButton({ disabled: true });
                         break;
                     case "Unselect":
                         addButton.jqxButton({ disabled: false });
                         deleteButton.jqxButton({ disabled: true });
                         editButton.jqxButton({ disabled: true });
                         cancelButton.jqxButton({ disabled: true });
                         updateButton.jqxButton({ disabled: true });
                         break;
                     case "Edit":
                         addButton.jqxButton({ disabled: true });
                         deleteButton.jqxButton({ disabled: true });
                         editButton.jqxButton({ disabled: true });
                         cancelButton.jqxButton({ disabled: false });
                         updateButton.jqxButton({ disabled: false });
                         break;
                     case "End Edit":
                         addButton.jqxButton({ disabled: false });
                         deleteButton.jqxButton({ disabled: false });
                         editButton.jqxButton({ disabled: false });
                         cancelButton.jqxButton({ disabled: true });
                         updateButton.jqxButton({ disabled: true });
                         break;
                 }
             }
             var rowIndex = null;
             $("#netgrid").on('rowSelect', function (event) {
                 var args = event.args;
                 rowIndex = args.index;
                 updateButtons('Select');
             });
             $("#netgrid").on('rowUnselect', function (event) {
                 updateButtons('Unselect');
             });
             $("#netgrid").on('rowEndEdit', function (event) {
                 updateButtons('End Edit');
             });
             $("#netgrid").on('rowBeginEdit', function (event) {
                 updateButtons('Edit');
             });
             addButton.click(function (event) {
                 if (!addButton.jqxButton('disabled')) {
                     // add new empty row.
                     $("#netgrid").jqxDataTable('addRow', null, {}, 'first');
                     // select the first row and clear the selection.
                     $("#netgrid").jqxDataTable('clearSelection');
                     $("#netgrid").jqxDataTable('selectRow', 0);
                     // edit the new row.
                     $("#netgrid").jqxDataTable('beginRowEdit', 0);
                     updateButtons('add');

                 }
             });
             cancelButton.click(function (event) {
                 if (!cancelButton.jqxButton('disabled')) {
                     // cancel changes.
                     $("#netgrid").jqxDataTable('endRowEdit', rowIndex, true);
                 }
             });
             updateButton.click(function (event) {
                 if (!updateButton.jqxButton('disabled')) {
                     // save changes.
                     $("#netgrid").jqxDataTable('endRowEdit', rowIndex, false);
                 }
             });
             editButton.click(function () {
                 if (!editButton.jqxButton('disabled')) {
                     $("#netgrid").jqxDataTable('beginRowEdit', rowIndex);
                     updateButtons('edit');
                 }
             });
             deleteButton.click(function () {
                 if (!deleteButton.jqxButton('disabled')) {
                     $("#netgrid").jqxDataTable('deleteRow', rowIndex);
                     updateButtons('delete');
                 }
             });
         }, "columns": [
          { "text": "id", "datafield": "id", "filtertype": null, "width": "auto", "cellsalign": null, "cellsformat": null },
          { "text": "date", "datafield": 'date', "cellsformat": "d"}]
            });
        });

               
    </script>
</head>
<body>
    <div id="jqxgrid">
    </div>
    <div id="netgrid">
    </div>
</body>
</html>
