USE [master]
GO
/****** Object:  Database [JQWigets]    Script Date: 2015/8/4 18:43:04 ******/
CREATE DATABASE [JQWigets]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JQWigets', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\JQWigets.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JQWigets_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\JQWigets_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JQWigets].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JQWigets]
GO
/****** Object:  Table [dbo].[GridTable]    Script Date: 2015/8/4 18:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GridTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](250) NULL,
	[productname] [varchar](250) NULL,
	[available] [bit] NULL,
	[date] [datetime] NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_GridTable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
